.container {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.textInput {
  width: 100%;
  height: 2.5rem;
  border: none;
  outline: none;
}
