.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.textInput {
  width: 75%;
  height: 2.5rem;
  border: none;
  outline: none;
}

.textInput::placeholder {
  padding-left: 5px;
}

@media (max-width: 550px) {
  .component {
    width: 100vw;
  }
}
