/*
* Temporary fix for Issue #273 until "Markdown.styles.js" works correctly
*/

.joypixels {
  height: 1.5rem;
  width: 1.5rem;
  image-rendering: pixelated;
  font-size: inherit;
  vertical-align: middle;
}

