.component {
  position: fixed;
  right: 0;
  top: 0;
  width: 390px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  box-shadow: -1px 0px 5px rgb(0 0 0 / 25%);
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}

.editRoomHeader {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 353px;
  background: white;
  padding-top: 20px !important;
}

.toggle {
  display: flex;
  margin-top: 10px !important;
  justify-content: space-between;
}

.toggleLabel {
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px !important;
}

@media (max-width: 550px) {
  .component {
    width: 100vw;
  }
  .editRoomHeader {
    width: 92vw;
  }
}
