.container {
  border: 1px solid lightgray;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  margin-top: 5px;
}

.emojiContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  scroll-margin-top: 20px;
}

.containerHeader {
  background-color: #cbced1;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 14px;
  width: 100%;
  font-weight: 600;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

.emojiList {
  background-color: rgba(223, 223, 223, 0.25);
  padding: 8px 12px;
}

.emojiList:hover {
  cursor: pointer;
}
