.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  box-shadow: -1px 0px 5px rgb(0 0 0 / 25%);
  z-index: 100;
}

@media (max-width: 550px) {
  .modal {
    width: 100vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
