.NavBar {
  position: fixed;
  right: 0;
  top: auto;
  width: 350px;
  height: inherit;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  box-shadow: -1px 0px 5px rgb(0 0 0 / 25%);
  z-index: 100;
}

.container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.textInput {
  width: 90%;
  height: 2.5rem;
  border: none;
  outline: none;
}

.textInput::placeholder {
  padding-left: 5px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}

.label_checkbox {
  margin-left: 5px !important;
}

.checkBox {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.selectUser {
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
}

.selectUser:hover {
  background: #f0eded;
}

@media (max-width: 550px) {
  .searchBar {
    width: 100vw;
  }
}
