.ec-grid {
  display: flex;
  flex-flow: row wrap;
  margin-block: calc( to-rem(16) / -2 );
  margin-inline: calc( to-rem(16) / -2 );
}
.ec-grid__wrapper {
  overflow: hidden;
}
.ec-grid--xs > .ec-grid {
  margin-block: calc( to-rem(16) / -2 );
  margin-inline: calc( to-rem(16) / -2 );
}
@media screen and (min-width: to-em(600)) {
  .ec-grid {
    margin-block: calc( to-rem(16) / -2 );
    margin-inline: calc( to-rem(16) / -2 );
  }
}
.ec-grid--sm > .ec-grid {
  margin-block: calc( to-rem(16) / -2 );
  margin-inline: calc( to-rem(16) / -2 );
}
@media screen and (min-width: to-em(768)) {
  .ec-grid {
    margin-block: calc( to-rem(24) / -2 );
    margin-inline: calc( to-rem(24) / -2 );
  }
}
.ec-grid--md > .ec-grid {
  margin-block: calc( to-rem(24) / -2 );
  margin-inline: calc( to-rem(24) / -2 );
}
@media screen and (min-width: to-em(1024)) {
  .ec-grid {
    margin-block: calc( to-rem(24) / -2 );
    margin-inline: calc( to-rem(24) / -2 );
  }
}
.ec-grid--lg > .ec-grid {
  margin-block: calc( to-rem(24) / -2 );
  margin-inline: calc( to-rem(24) / -2 );
}
@media screen and (min-width: to-em(1280)) {
  .ec-grid {
    margin-block: calc( to-rem(24) / -2 );
    margin-inline: calc( to-rem(24) / -2 );
  }
}
.ec-grid--xl > .ec-grid {
  margin-block: calc( to-rem(24) / -2 );
  margin-inline: calc( to-rem(24) / -2 );
}
@media screen and (min-width: to-em(1600)) {
  .ec-grid {
    margin-block: calc( to-rem(24) / -2 );
    margin-inline: calc( to-rem(24) / -2 );
  }
}
.ec-grid--xxl > .ec-grid {
  margin-block: calc( to-rem(24) / -2 );
  margin-inline: calc( to-rem(24) / -2 );
}
@media screen and (min-width: to-em(1920)) {
  .ec-grid {
    margin-block: calc( to-rem(24) / -2 );
    margin-inline: calc( to-rem(24) / -2 );
  }
}
.ec-grid--xxxl > .ec-grid {
  margin-block: calc( to-rem(24) / -2 );
  margin-inline: calc( to-rem(24) / -2 );
}

.ec-grid__item {
  flex: 1 1 0;
  padding-block: calc( to-rem(16) / 2 );
  padding-inline: calc( to-rem(16) / 2 );
}
.ec-grid__item--xs-1 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid__item--xs-2 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid__item--xs-3 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid__item--xs-4 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
.ec-grid--xs > .ec-grid__item {
  padding-block: calc( to-rem(16) / 2 );
  padding-inline: calc( to-rem(16) / 2 );
}
.ec-grid--xs > .ec-grid__item--xs-1 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--xs > .ec-grid__item--xs-2 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--xs > .ec-grid__item--xs-3 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--xs > .ec-grid__item--xs-4 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(600)) {
  .ec-grid__item {
    padding-block: calc( to-rem(16) / 2 );
    padding-inline: calc( to-rem(16) / 2 );
  }
  .ec-grid__item--sm-1 {
    flex-grow: 0;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .ec-grid__item--sm-2 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--sm-3 {
    flex-grow: 0;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .ec-grid__item--sm-4 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--sm-5 {
    flex-grow: 0;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .ec-grid__item--sm-6 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--sm-7 {
    flex-grow: 0;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .ec-grid__item--sm-8 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--sm > .ec-grid__item {
  padding-block: calc( to-rem(16) / 2 );
  padding-inline: calc( to-rem(16) / 2 );
}
.ec-grid--sm > .ec-grid__item--sm-1 {
  flex-grow: 0;
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.ec-grid--sm > .ec-grid__item--sm-2 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--sm > .ec-grid__item--sm-3 {
  flex-grow: 0;
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.ec-grid--sm > .ec-grid__item--sm-4 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--sm > .ec-grid__item--sm-5 {
  flex-grow: 0;
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.ec-grid--sm > .ec-grid__item--sm-6 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--sm > .ec-grid__item--sm-7 {
  flex-grow: 0;
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.ec-grid--sm > .ec-grid__item--sm-8 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(768)) {
  .ec-grid__item {
    padding-block: calc( to-rem(24) / 2 );
    padding-inline: calc( to-rem(24) / 2 );
  }
  .ec-grid__item--md-1 {
    flex-grow: 0;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .ec-grid__item--md-2 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--md-3 {
    flex-grow: 0;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .ec-grid__item--md-4 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--md-5 {
    flex-grow: 0;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .ec-grid__item--md-6 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--md-7 {
    flex-grow: 0;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .ec-grid__item--md-8 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--md > .ec-grid__item {
  padding-block: calc( to-rem(24) / 2 );
  padding-inline: calc( to-rem(24) / 2 );
}
.ec-grid--md > .ec-grid__item--md-1 {
  flex-grow: 0;
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.ec-grid--md > .ec-grid__item--md-2 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--md > .ec-grid__item--md-3 {
  flex-grow: 0;
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.ec-grid--md > .ec-grid__item--md-4 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--md > .ec-grid__item--md-5 {
  flex-grow: 0;
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.ec-grid--md > .ec-grid__item--md-6 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--md > .ec-grid__item--md-7 {
  flex-grow: 0;
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.ec-grid--md > .ec-grid__item--md-8 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(1024)) {
  .ec-grid__item {
    padding-block: calc( to-rem(24) / 2 );
    padding-inline: calc( to-rem(24) / 2 );
  }
  .ec-grid__item--lg-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ec-grid__item--lg-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ec-grid__item--lg-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--lg-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ec-grid__item--lg-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ec-grid__item--lg-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--lg-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ec-grid__item--lg-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ec-grid__item--lg-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--lg-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ec-grid__item--lg-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ec-grid__item--lg-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--lg > .ec-grid__item {
  padding-block: calc( to-rem(24) / 2 );
  padding-inline: calc( to-rem(24) / 2 );
}
.ec-grid--lg > .ec-grid__item--lg-1 {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.ec-grid--lg > .ec-grid__item--lg-2 {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.ec-grid--lg > .ec-grid__item--lg-3 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--lg > .ec-grid__item--lg-4 {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.ec-grid--lg > .ec-grid__item--lg-5 {
  flex-grow: 0;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.ec-grid--lg > .ec-grid__item--lg-6 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--lg > .ec-grid__item--lg-7 {
  flex-grow: 0;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.ec-grid--lg > .ec-grid__item--lg-8 {
  flex-grow: 0;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.ec-grid--lg > .ec-grid__item--lg-9 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--lg > .ec-grid__item--lg-10 {
  flex-grow: 0;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.ec-grid--lg > .ec-grid__item--lg-11 {
  flex-grow: 0;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.ec-grid--lg > .ec-grid__item--lg-12 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(1280)) {
  .ec-grid__item {
    padding-block: calc( to-rem(24) / 2 );
    padding-inline: calc( to-rem(24) / 2 );
  }
  .ec-grid__item--xl-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ec-grid__item--xl-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ec-grid__item--xl-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--xl-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ec-grid__item--xl-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ec-grid__item--xl-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--xl-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ec-grid__item--xl-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ec-grid__item--xl-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--xl-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ec-grid__item--xl-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ec-grid__item--xl-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--xl > .ec-grid__item {
  padding-block: calc( to-rem(24) / 2 );
  padding-inline: calc( to-rem(24) / 2 );
}
.ec-grid--xl > .ec-grid__item--xl-1 {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.ec-grid--xl > .ec-grid__item--xl-2 {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.ec-grid--xl > .ec-grid__item--xl-3 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--xl > .ec-grid__item--xl-4 {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.ec-grid--xl > .ec-grid__item--xl-5 {
  flex-grow: 0;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.ec-grid--xl > .ec-grid__item--xl-6 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--xl > .ec-grid__item--xl-7 {
  flex-grow: 0;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.ec-grid--xl > .ec-grid__item--xl-8 {
  flex-grow: 0;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.ec-grid--xl > .ec-grid__item--xl-9 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--xl > .ec-grid__item--xl-10 {
  flex-grow: 0;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.ec-grid--xl > .ec-grid__item--xl-11 {
  flex-grow: 0;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.ec-grid--xl > .ec-grid__item--xl-12 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(1600)) {
  .ec-grid__item {
    padding-block: calc( to-rem(24) / 2 );
    padding-inline: calc( to-rem(24) / 2 );
  }
  .ec-grid__item--xxl-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ec-grid__item--xxl-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ec-grid__item--xxl-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--xxl-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ec-grid__item--xxl-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ec-grid__item--xxl-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--xxl-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ec-grid__item--xxl-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ec-grid__item--xxl-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--xxl-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ec-grid__item--xxl-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ec-grid__item--xxl-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--xxl > .ec-grid__item {
  padding-block: calc( to-rem(24) / 2 );
  padding-inline: calc( to-rem(24) / 2 );
}
.ec-grid--xxl > .ec-grid__item--xxl-1 {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.ec-grid--xxl > .ec-grid__item--xxl-2 {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.ec-grid--xxl > .ec-grid__item--xxl-3 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--xxl > .ec-grid__item--xxl-4 {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.ec-grid--xxl > .ec-grid__item--xxl-5 {
  flex-grow: 0;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.ec-grid--xxl > .ec-grid__item--xxl-6 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--xxl > .ec-grid__item--xxl-7 {
  flex-grow: 0;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.ec-grid--xxl > .ec-grid__item--xxl-8 {
  flex-grow: 0;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.ec-grid--xxl > .ec-grid__item--xxl-9 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--xxl > .ec-grid__item--xxl-10 {
  flex-grow: 0;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.ec-grid--xxl > .ec-grid__item--xxl-11 {
  flex-grow: 0;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.ec-grid--xxl > .ec-grid__item--xxl-12 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: to-em(1920)) {
  .ec-grid__item {
    padding-block: calc( to-rem(24) / 2 );
    padding-inline: calc( to-rem(24) / 2 );
  }
  .ec-grid__item--xxxl-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ec-grid__item--xxxl-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ec-grid__item--xxxl-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ec-grid__item--xxxl-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ec-grid__item--xxxl-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ec-grid__item--xxxl-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ec-grid__item--xxxl-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ec-grid__item--xxxl-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ec-grid__item--xxxl-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ec-grid__item--xxxl-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ec-grid__item--xxxl-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ec-grid__item--xxxl-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.ec-grid--xxxl > .ec-grid__item {
  padding-block: calc( to-rem(24) / 2 );
  padding-inline: calc( to-rem(24) / 2 );
}
.ec-grid--xxxl > .ec-grid__item--xxxl-1 {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-2 {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-3 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-4 {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-5 {
  flex-grow: 0;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-6 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-7 {
  flex-grow: 0;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-8 {
  flex-grow: 0;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-9 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-10 {
  flex-grow: 0;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-11 {
  flex-grow: 0;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.ec-grid--xxxl > .ec-grid__item--xxxl-12 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
