.attachment_window_background {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attachment_window_background_standin {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attachment_window {
  z-index: 1000;
  width: 550px;
  background: white;
  padding: 30px !important;
  border: 2px solid #ffffff !important;
  border-radius: 20px;
}

.attachment_window_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: x-large;
  margin: 0px 0px 15px 0px !important;
}

.attachment_window_close {
  cursor: pointer !important;
  font-weight: 500;
  font-size: large;
  display: inline;
  border-radius: 4px;
  padding: 5px 5px 0 5px;
}

.attachment_window_close:hover {
  background-color: #e9e9e9;
  display: inline;
}

.attachment_window_close:active {
  background-color: #8f9194;
}

.attachment_window_input_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px 0 0 0 !important;
}

.attachment_window_input {
  margin-top: 5px;
  border: 1px solid rgb(184, 184, 184);
  width: 95.5%;
  padding: 10px !important;
  border-radius: 5px;
}

.attachment_window_submit_container {
  padding-top: 20px !important;
  width: 100%;
  display: flex;
  background: white;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.attachment_window_submit_button {
  padding: 10px !important;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #007fff;
  margin-left: 5px;
  color: #ffffff;
}

.attachment_window_submit_button:hover {
  background-color: #005bb6;
}

.attachment_window_submit_button:active {
  background-color: #003f7e;
}

.attachment_window_cancel_button {
  padding: 10px !important;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #e4e7ea;
  margin-right: 5px;
}

.attachment_window_cancel_button:hover {
  background-color: #b2b5ba;
}

.attachment_window_cancel_button:active {
  background-color: #85878b;
}
