@font-face {
  font-family: 'RocketChat';
  font-weight: 400;
  font-style: normal;
  font-display: auto;

  src: url('./rocketchat.eot');
  src: url('./rocketchat.eot?#iefix') format('embedded-opentype'),
    url('./rocketchat.woff2') format('woff2'),
    url('./rocketchat.woff') format('woff'),
    url('./rocketchat.ttf') format('truetype'),
    url('./rocketchat.svg#RocketChat') format('svg');
}