.copyonly {
  display: none;

  width: 100%;
  height: 0;

  user-select: none;
  vertical-align: baseline;

  font-size: 0;
  -moz-box-orient: vertical;
}

.prestyle {
  display: inline-block;
  width: 100%;
}
