.paraText {
  margin-top: 1rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .paraText {
    margin-top: 0.5rem;
    font-size: 0.775rem;
    line-height: 1rem;
  }
  .paraText > code {
    font-size: inherit;
  }
}
