.container {
  word-break: break-all;
  overflow: scroll;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  position: relative;
}

.drag-component {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 900;
  font-size: xxx-large;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}
