.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.nospace {
  margin: 0;
  padding: 0;
}

.icon_light_mode > i {
  color: #fff;
}

.icon_dark_mode > i {
  color: #000;
}

.icon_light_mode:hover > i {
  color: #000;
}

.icon_dark_mode:hover > i {
  color: #000;
}
