.videoDot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
  margin: auto;
  margin-right: 8px;
}

.videoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.timer {
  margin: auto;
}

.record {
  display: flex;
  margin: auto;
}


.overlay {
  background: none;
}

.modal > video {
  position: absolute;
  height: 100%;
  width: 100%;
}
