.modalcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.actionButton {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
  margin: 20px;
}
