.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  box-shadow: -1px 0px 5px rgb(0 0 0 / 25%);
  z-index: 100;
}

.wrapContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 550px) {
  .sidebar {
    width: 100vw;
  }
}
