.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: -1px 0px 5px rgb(0 0 0 / 25%);
  z-index: 100;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.sidebarTitle {
  color: #4a4a4a;
  width: 80%;
}

.sidebarIcon {
  size: 1.25rem;
  padding: 0 0.5 0.5 0rem;
}

@media (max-width: 550px) {
  .sidebar {
    width: 100vw;
  }
}
